<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">
    <link href="{% static "pydgin_auth/css/jquery.cookiebar.css" %}" rel="stylesheet">
    

    <script language="text/javascript" type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{% static "pydgin_auth/js/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "pydgin_auth/js/jquery.cookiebar.js" %}"></script>
    

    <title>{% block title %} {{ title }} {% endblock %}</title>
    {% block header %}{% endblock %}


     <script type="text/javascript">
    $(document).ready(function() {
    
     $.cookieBar({
                                message: 'Some data on this website are only available after acceptance of our <a style="padding:0px; margin:0px;" href="https://www.immunobase.org/page/Copyright" title="read our data access agreement" target="_blank">data access agreement</a> and cookies.',
                                fixed: true,
                                bottom: true,
                                acceptButton: true,
                                acceptText: 'Accept',
                                declineButton: true,
                                declineText: 'Decline',
                                autoEnable: false,
                                acceptFunction: function(cookieValue){ switch_snp_track($("#gwas")[0]); showCookieProtected(); },
                                zindex: 100,
                        });

                        if ($.cookie('cb-enabled') == 'enabled' || $.cookie('cb-enabled') == 'accepted'){
                                showCookieProtected();
                        
                        optGroup = $("#userData");
                        optGroup.empty();
                        for (var i = 0; i < localStorage.length; i++){
                                optGroup.append('<option value="'+localStorage.key(i)+'">'+localStorage.getItem(localStorage.key(i))+'</option>');
                        }
                        }
                        
                        function showCookieProtected(){
                                var styleSheetList = document.styleSheets;
                                var styleSheet = styleSheetList[styleSheetList.length-1]
                                if (!styleSheet) return;
                                var theRules = new Array();
                                if (styleSheet.cssRules)
                                        theRules = styleSheet.cssRules
                                else if (styleSheet.rules)
                                        theRules = styleSheet.rules
                                else return;
                                theRules[0].style.display = '';
                        }
                });
    
    
    </script>
    

    
  </head>

  <body>
  
  <div id="auth_header" style="text-align: center">
    <h2> PYDGIN AUTH TEST</h2> <h3>(Demo Application)</h3>

	{% block back_button %}
	<strong><a id='back_link' href="/"><< HOME >></a> </strong> &nbsp; &nbsp;&nbsp;<strong><a id='back_link' href="/auth_test/"><< AUTH_TEST HOME >></a> </strong> &nbsp; &nbsp;&nbsp;<strong><a id='search_link' href="/search/"><< SEARCH >></a> </strong> &nbsp; &nbsp;&nbsp;<strong><a id='rest_link' href="/rest/"><< REST >></a> </strong>&nbsp; &nbsp;&nbsp;<strong><a id='search_link' href="/admin/"><< ADMIN >></a> </strong>
	{% endblock %}
  </div>	
	

      {% if user.is_authenticated %}
      
      {% include "auth_test/logout.html" %}
      
      <div id='user_profile' style='background-color: rgba(186, 224, 196, 0.8);padding:10px'>
      
      Welcome <strong> {{ user|title }}!  </strong> <br/>
      
      <strong>You belong to the following groups:</strong> {{ user.groups.all }} <br/>
      
      <strong>Your DRF Authorization token is:</strong> {{ api_key }} <br/>

      <strong>You have the following cookies :</strong> {{ request.COOKIES }} <br/> 
      </div>
      
      <br/>
      
      {% else %}
      
       <div id='user_profile' style='background-color: rgba(186, 224, 196, 0.8);padding:10px'> 
        <strong>You are NOT logged in. Please login by following the urls below.</strong><br/> 
        <strong>You have the following cookies :</strong>
      {{ request.COOKIES }}
     
      <br/>
      </div>
      <br/>
        
     {% endif%}

     <div class="container">

       {% block content %}{% endblock %}


     </div> <!-- /container -->
    
<br/><br/>    



  </body>
</html>



