<div id='check_pages' style='background-color: rgba(200, 224, 196, 0.4);padding:10px'>

<center><h3>Please check if you can access these pages and sections in it</h3></center>

<h3>Section Perms:</h3>
<a id='check_section_perms' href="/auth_test/check_section_perms">Click here to view section permissions! (USING page include tag) </a>
<br/>
<a id='check_section_perms' href="/auth_test/check_section_perms_templatetags">Click here to view section permissions! (USING section templatetags)</a>
<br/>

<h3>Page Perms:</h3>
<a id='check_green_page' href="/auth_test/check_green">Click here to view Green Box! (Visible to ALL) </a>
<br/>


<a id='check_yellow_page' href="/auth_test/check_yellow">Click here to view Yellow Box! (Users in CURATE group only)  </a>
<br/>


<a id='check_blue_page' href="/auth_test/check_blue">Click here to view Blue Box! (Needs 'perms.auth_test.can_read' - Granted to 'DIL' group)</a>
<br/>

<a id='check_red_page' href="/auth_test/check_red">Click here to view Red Box! (Users in PYDGIN_ADMIN group only)</a>
<br/>

<a id='check_black_page' href="/auth_test/check_black">Click here to view Black Box! (For superuser(admin) only) </a>
<br/>

<h3>Django REST Framework Perms:</h3>
<a id='check_disease' href="/rest/disease">Click here to view Diseases (Visible to ALL Users) </a>
<br/>

<a id='check_publication' href="/rest/pubs">Click here to view Publications (Visible to Logged in Users) </a>
<br/>

<a id='check_marker' href="/rest/marker">Click here to view Markers (Visible to Logged in and Authorized Users) </a>
<br/>

<h3>Elastic Perms:</h3>
<a id='check_elastic' href="/search">Click here search Elastic Indexes </a>
<br/>

</div>
