 {% extends "auth_test/auth_test_base.html" %}
 
 
  
{% block content %}
    <div class="container">

    <div id="login_section" style='background-color: rgba(100, 124, 96, 0.4);padding:10px'>
    
     {% if not user.is_authenticated %}
      <div id="login_help" style="float:right">  
      You can login using the following credentials: (Note: <strong>Accept</strong> cookies below to access all links)<br/> 
      Username: prem_ro, prem_dil, prem_curator, prem_admin, admin (for Admin interface) <br/>
      Password for all users: <strong>test123</strong> <br/><br/>
     </div>
      
      {% include "registration/login_link.html" %}
      <br/>
      <li><a href="/admin">Login to Admin Interface</a></li>
            
     {% else %}
      You are logged in as {{ user.username}}
     {% endif %}
     </div> 
      
     <br/><br/>  
     {% include "auth_test/auth_test.html" %}

    </div>
    

{% endblock %}