{% extends "base.html" %}
{% block title %}Welcome to ImmunoBase{%endblock %} 
{% block content %}
{% load disease_tags %}
{% load search_engine_tags %}
{% load staticfiles %}

<section>
	<div class="container ">
		<p>ImmunoBase is a web based resource focused on the genetics and
			genomics of immunologically related human diseases. Our mission is to
			provide a curated and integrated set of datasets and tools
			to support and promote research in this area.</p>
		<p>The current focus of the site is to integrate and curate
			summary case/control association statistics from the consortium of 12
			diseases originally targeted by the ImmunoChip consortium. The following
			disease bar represents the 12 core diseases plus other diseases ('OD') of
			interest.</p>
		<div class="row">
			<div class="col-xs-12 text-center" style="font-size: 1.5em">{% show_disease_bar %}</div>
		</div>
		<p>The site also includes software tools for analyzing the data.
			Current software tools can be found in the Tools menu.</p>
		<p>This web site was developed with support from the Juvenile
			Diabetes Research Foundation/Wellcome Trust Diabetes and Inflammation
			Laboratory. This resource is maintained by the ImmunoBase team.</p>
	</div>
</section>
{% endblock %}
