{% extends "base.html" %}
{% block title %}Welcome to ImmunoBase{% endblock %} 
{% block content %}
{% load disease_tags %}

<section>
	<div class="container ">
	<h3>About ImmunoBase</h3>
		<p>ImmunoBase is a web based resource focused on the genetics and
			genomics of immunologically related human diseases. Our mission is to
			provide a curated and integrated set of datasets and tools to support
			and promote research in this area.</p>
		<p>The current focus of the site is to integrate and curate
			summary case/control association statistics from the consortium of 12
			diseases originally targeted by the ImmunoChip consortium. The
			following disease bar represents these 12 core diseases plus other
			diseases ('OD') of interest.</p>
		<div class="row">
			<div class="col-xs-12 text-center">{% show_disease_bar %}</div>
		</div>
		<br>
		<p>The site also includes software tools for analyzing the data.
			Current software tools can be found in the Tools menu.</p>
		<p>
			This web site was developed with support from the <a href="http://www-gene.cimr.cam.ac.uk" target="_blank"> Juvenile
			Diabetes Research Foundation Wellcome Trust Diabetes and
			Inflammation Laboratory</a>. This resource is maintained by the
			ImmunoBase team.
		</p>
		<h3>ImmunoBase Team</h3>
		<p>Juvenile Diabetes Research Foundation/Wellcome Trust Diabetes and Inflammation Laboratory:</p>
		<div class='row'>
			<div class="col-md-4"><strong>John Todd</strong><br>Director and Professor of Medical Genetics</div>
			<div class="col-md-4"><strong>Oliver Burren</strong><br>Head of Genome Informatics</div>
		</div>
		<br>
		<div class='row'>
			<div class="col-md-4"><strong>Ellen Schofield</strong><br>Computer Officer/Bioinformatician</div>
			<div class="col-md-4"><strong>Tim Carver</strong><br>Developer/Bioinformatician</div>
			<div class="col-md-4"><strong>Premanand Achuthan</strong><br>Bioinformatician</div>
		</div>
	</div>
</section>

{% endblock %}
