
<h3>Data Access Agreement</h3>

<p>This Data Access Agreement governs the terms of access to the Data 
generated or collated by ImmunoBase.</p>

<h4>Background</h4>

<p>The Member who contributed the Data (“Data Producer”) together with their
Collaborators, are the custodians of that Data and hold such ownership rights as
may exist in relation to such Data. The Members are committed to providing
access for the Research Community (by way of the ImmunoBase Database) for 
Biomedical Research purposes.</p>

<p>The Recipient and the Recipient Institution agree to be bound by the terms and
conditions contained herein,and agree to ensure that all Data Users comply with
the terms and conditions of this Agreement.</p>

<p>For the sake of clarity, the terms of access set out in this Data Access Agreement
apply both to the Recipient and the Recipient Institution.</p>

<h4>Terms and Conditions</h4>

<ol>
<li>The Recipient and the Recipient Institution agree to only use the Data for
academic research.</li>

<li>The Recipient and the Recipient Institution agree to preserve, at all times, the 
confidentiality of the Data. In particular, they undertake not to use, or 
attempt to use, the Data to compromise or otherwise infringe the
confidentiality of information on the Donors.</li>

<li>The Recipient and the Recipient Institution agree to protect the 
confidentiality of Donors in any Publications that they prepare by taking all
reasonable care to limit the possibility of Donor identification.</li>

<li>The Recipient and the Recipient Institution agree not to link or combine the
Data provided under this Data Access Agreement to other information or
other data available to them in a way that could identify the Donors, even if
access to that data has been formally granted to the Recipient and the 
Recipient Institution, or is freely available without restriction.</li>

<li>The Recipient and the Recipient Institution agree not to transfer or disclose
the Data, in whole or part or any copies thereof, in whole or part (in any
medium), to anyone not listed as:

<ol type="a">
<li>a Data User in Schedule VI of this Data Access Agreement;</li>
<li>a Co-Applicant on the Research Project who’s institution has signed as Recipient
Institution in a parallel Data Access Agreement for this Research Project; or</li>
<li>a Co-Applicant’s Data User as listed in Schedule VI of the parallel Data Access 
Agreement for this Research Project, except as necessary for data safety monitoring,
national audits or as required by law. Should the Recipient or the Recipient Institution
wish to share the Data with an Third Party that is not a Co-Applicant, that Third Party
must complete the Data Access Application for External Investigators prior to receiving the Data.</li>
</ol>

</li>

<li>Pursuant to the warranty secured from the Data Producer under the Data
Deposit Agreement, ImmunoBase hereby warrants that the Data has been 
obtained in accordance with all relevant laws and guidelines and that the
Data has been obtained from Donors that have given their informed consent
for their tissue samples and Data to be used for research purposes.</li>

<li>Subject to Clause 6 above, the Recipient and the Recipient Institution agree
that ImmunoBase, the Data Producer(s) or Collaborator involved in the
creation, funding or protection of the Data:

<ol type="a">
<li>Make no warranty or representation, express or implied as to the
accuracy, quality or comprehensiveness of the Data;</li>
<li>Exclude to the fullest extent permitted by law all liability for actions,
claims, proceedings, demands, losses (including but not limited to
loss of profit) and any associated costs made against the Recipient
that may arise (whether directly or indirectly) in any way
whatsoever from the Recipient’s use of the Data or from the
unavailability of, or break in access to, the Data for whatever reason
and; and </li>
<li>Bear no responsibility for the further analysis or interpretation of 
these Data.</li>
</ol>

</li>

<li>The Recipient and the Recipient Institution agree to follow the 
Fort Lauderdale Guidelines included as Schedule I of this Agreement and the
Toronto Statement included as Schedule II of this Data Access Agreement.
This includes but is not limited to: recognising the contribution of the Data 
Producer and their Collaborators in the Primary Publication describing and
analysing the Data (as appropriate); the version of the Data; the role of 
ImmunoBase; and the role of any Collaborators or funders of the Data
collection or Cleaning, as specified in the Data Deposit Application
or otherwise disclosed by the Data Access Committee, in all Publications arising
from the Research Project in whole or in part. An example of suitable wording
is provided in the Publications Policy attached as Schedule III of this
Agreement.</li>

<li>The Recipient and the Recipient Institution agree to follow the Publication
Policy attached as Schedule III of this Agreement. This includes respecting
the Publication Moratorium period for Data Producers and their Collaborators
to publish the first peer-review report(s) describing and analysing the Data.</li>

<li>The Recipient and Recipient Institution understand and acknowledge that the
Data are protected by copyright and other intellectual property rights, and
that duplication, except as reasonably required to carry out the Research
Project, or sale of all or part of the Data on any media is not permitted.</li>

<li>The Recipient and the Recipient Institution agree not to make intellectual
property claims on the Data nor use the Data to make a related intellectual
property claim,and not to use or encumber the results of the Research
Project in a manner that would prevent or block access to, or use of, any
element of the Data, or conclusions drawn directly from the Data.</li>

<li>The Recipient and the Recipient Institution recognise that nothing in this
Data Access Agreement shall operate to transfer to the Recipient or Recipient
Institution any intellectual property rights relating to the Data. Subject to
Clause 11, the Recipient and the Recipient Institution can elect to perform
further research with the results of the Research Project that would add
intellectual and resource capital to the Data and decide to obtain intellectual
property rights on these downstream discoveries. In this case, the Recipient
and the Recipient Institution agree to implement licensing policies that will
not obstruct further research with the Data and to follow the U.S. National 
Institutes of Health Best Practices for the Licensing of Genomic Inventions
(2005) in conformity with the Organisation for Economic Co-operation and
Development Guidelines for the Licensing of the Genetic Inventions (2006).
These two policies (NIH and OECD) are included as Schedule IV and V of this 
Agreement.</li>

<li>The Data was contributed by the Members with the objective of improving
health. If results arising from the Recipient and the Recipient Institution use
of the Data could provide health solutions for the benefit of people in the
developing world, the Recipient and the Recipient Institution agree to offer
non-exclusive licenses to use such results to low income and low-middle
income countries (as defined by the World Bank) promptly on request. Such
licenses shall be granted on a reasonable basis, which in the event of a
request for research use shall be full paid up,revenue-free and otherwise
without cost to the requesting party.</li>

<li>Upon conclusion of the Research Project, the Recipient and the Recipient
Institution hereby agree to destroy/discard the Data held unless obligated
to retain the Data for archival purposes in conformity with applicable law.</li>

<li>The Recipient and the Recipient Institution will ensure that the list of Data
Users in Schedule VI is maintained and kept up-to-date and forward an
updated copy of this Schedule, signed by an authorised official of the
Recipient Institution to Data Access Committee to reflect any changes or
departures in researchers, collaborators and personnel within 30 days of the
changes made. Pending confirmation of receipt of the update list of Data
Users from the Data Access Committee, any individual not listed as a Data
User may not use the Data.</li>

<li>The Recipient and the Recipient Institution must notify the Data Access
Committee prior to making any significant change(s) to the Research Project.
ImmunoBase will notify the Data Producer of any request to change the
Research Project and shall liaise with the Data Producer in making a decision
on the requested amendment.</li>

<li>The Recipient and the Recipient Institution will notify the Data Access
Committee as soon as they become aware of a breach of the terms or 
conditions of this Data Access Agreement.</li>

<li>ImmunoBase reserves the right to terminate this Agreement immediately in
the event of a breach by the Recipient, Data Users, or the Recipient
Institution. Upon termination or otherwise upon conclusion of the Research
Project, the Recipient and the Recipient Institution will be required to destroy
any Data held, including copies and backup copies thereof unless obligated
to retain the Data for archival purposes in conformity with applicable law.</li>

<li>The Recipient and the Recipient Institution accept that it may be necessary
for ImmunoBase or their appointed agent to alter the terms of this Data
Access Agreement as required by a change in consent for the Data or
another regulatory change which impacts on the scope of Data usage. In this
event, ImmunoBase or their appointed agent will contact the Recipient and
the Recipient Institution to inform them of any changes and the Recipient and
Recipient Institution agree that their continued use of Data shall be
dependent on the parties entering into a new version of this Data Access
Agreement and use of the Data shall be suspended until execution.</li>

<li>It is understood by the Recipient and the Recipient that Data: should only be
accessible to named users (Data Users and the Recipient only); Data files
should either have only user Unix read/write access, not group or world
access, or project-specific Unix groups should be used for group access that
contain only those names authorised to access the Data; User IDs within
groups should be reviewed at 6 monthly intervals by the Recipient; Data kept
on laptops should be encrypted when not in active use, either in individual
encrypted files or in encrypted directories/partitions; and Data should not be
held on USB keys or other portable hard drives. The Recipient Institution
hereby represents that they have equivalent security measures in place and
will store the Data in accordance with this clause. If requested, the Recipient
and the Recipient Institution will allow data security and management
documentation to be inspected to verify that they are complying with the
terms of this Data Access Agreement.</li>

<li>The Recipient Institution hereby agrees to submit a report to the Data Access
Committee containing all data, results, and conclusions, if requested or
otherwise promptly on completion of the Research Project. The Data Access
Committee agrees to treat the report and all information, data, results, and
conclusions contained therein as confidential information belonging to the
Recipient Institution until the Recipient Institution has Published on the 
project.</li>

<li>Further to the obligation set out in the recitals to this Data Access
Agreement, the Recipient and the Recipient Institution agree to distribute a
copy of this Data Access Agreement and explain its content to any person
mentioned in Schedule VI. The Recipient Institution shall be liable for any
breach of this Data Access Agreement by any Data User.</li>

<li>This Agreement (and any dispute, controversy, proceedings or claim of
whatever nature arising out of this agreement or its formation) shall be
construed, interpreted and governed by the laws of England and Wales and
shall be subject to the exclusive jurisdiction of the English courts.</li>
</ol>

<strong>THE TERMS OF THIS DOCUMENT ARE NON-NEGOTIABLE</strong>
