{% extends "base.html" %}
{% block title %}Welcome to ImmunoBase{% endblock %}

{% block content %}	
  	{% load disease_tags %}	
	{% load search_engine_tags %}
	{% load staticfiles %}
		<!-- FRONT PAGE JUMBOTRON -->
		<header style="margin-top:-25px;">
			<div class="jumbotron">
				<div class="container">
					<div class="row text-center">
						<div class="col-xs-12">
							<div style="font-size:21px">
								{% show_search_engine %}
							</div>
							<p>&nbsp;</p>
							<p><strong>ImmunoBase</strong> is a web based resource focused on the genetics and genomics of immunologically related human diseases. Our mission is to provide a curated and integrated set of datasets and tools, across multiple diseases, to support and promote research in this area.</p>
							<!--  <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> </p> --> 
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- / FRONT PAGE JUMBOTRON -->
		
		
		<!--  SECTION-1 -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center" style="font-size:1.5em">
						{% show_disease_bar %}
					</div>
				</div>
			</div>
			<div class="container ">
				<div class="row">
					<div class="col-lg-12 page-header text-center" style="margin-top:0px;">
						<h2>TOOLS</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6  col-sm-12 text-center"> <a href="/jbrowse/index.html"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="{% static "img/jbrowse.png" %}" data-holder-rendered="true"></a>
						<h3><a href="/jbrowse/index.html">Genome Browser</a></h3>
						<p>Visualise features across the Human Genome with JBrowse.</p>
					</div>
					<div class="col-lg-4 col-md-6  col-sm-12 text-center"> <a href="#"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="{% static "img/compare-tool.png" %}" data-holder-rendered="true"></a>
						<h3><a href="#">Disease Comparison</a></h3>
						<p>Compare sets of genes, markers and loci across ImmunoBase curated diseases.</p>
					</div>
					<div class="col-lg-4 col-md-6  col-sm-12 text-center"><a href="/marker/ld_tool/"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="{% static "img/ld.png" %}" data-holder-rendered="true"></a>
						<h3><a href="/marker/ld_tool/">Linkage Disequilibrium</a></h3>
						<p>Statistics for linkage disequilibrium (LD), the non-random association of alleles at different loci, are calculated.</p>
					</div>
<!-- 					<div class="col-lg-3 col-md-6 col-sm-12 text-center"> <a href="/pydgin/downloads/"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="{% static "img/downloads.png" %}" data-holder-rendered="true"></a> -->
<!-- 						<h3><a href="/pydgin/downloads">Downloads</a></h3> -->
<!-- 						<p>Download flat files of the data available on ImmunoBase.</p> -->
<!-- 					</div> -->
				</div>
			</div>
		</section>
{% endblock %}