Django==1.8.6
-e git+http://github.com/django-tastypie/django-tastypie#egg=tastypie
#django-tastypie==0.12.1
psycopg2==2.6.1
python-dateutil==2.4.2
python-mimeparse==0.1.4
python3-memcached==1.51
requests==2.8.1
six==1.9.0
urllib3==1.12
selenium==2.48.0
PyVirtualDisplay==0.1.5
mod-wsgi==4.4.21
