{% extends "section.html" %}
{% block section %}
{% load filter_tags %}
<table class="table table-striped table-condensed">
		<thead><th>Old Marker ID</th><th>New Marker ID</th><th>Current Marker ID</th><th>dbSNP Build</th></thead>
	{% for history_marker in history %}
		<tr><td>{{ history_marker|doc_attr:"rshigh" }}</td>
		<td>{{ history_marker|doc_attr:"rslow" }}</td>
		<td>{{ history_marker|doc_attr:"rscurrent" }}</td>
		<td>{{ history_marker|doc_attr:"build_id"}}</td></tr>
	{% endfor %}
</table>
{% endblock %}
