{% extends "sections.html" %}
{% block staticfiles %}
	{% load staticfiles %}
	<script src={% static "js/sections.js" %}></script>
	<script src={% static "js/criteria.js" %}></script>
{% endblock %}

{% block sections %}
{% load filter_tags %}

{% for section_title, section_options in sections.items %}
	{% if section_title == 'criteria' %}

			{% include 'sections/criteria.html' with feature_id=f|doc_attr:'id' %}
	
	{% else %}
	
	{% with section=section_title.split|join:"_" %}
		{% if section_title == 'study' %}
			{% load filter_tags %}
			{% include 'study/studies_section.html' with marker=f|doc_attr:"id" %}
		{% else %}
			{% with "marker/"|add:section|add:"_section.html" as template %}
				{% include template %}
			{% endwith %}
		{% endif %}
	{% endwith %}
	
    {% endif %}
   
{% endfor %}
{% endblock %}
