{% extends "section.html" %}

{% block section %}
{% block header %}
<script>
$(document).ready(function() {
	search_engine.autocomplete('ldSearch', searchForm='ldForm');

	$("#ldForm").on('submit', function(e) {
	    var url = "/rest/ld/?format=json";
	    $.ajax({
	    	type: "GET",
	    	url: url,
	    	data: $("#ldForm").serialize(), // serializes form elements.
	    	success: function(jsonObj) {
				var jsonPretty = JSON.stringify(jsonObj, null, '  ');
				$("#ld_result").html('<pre>'+jsonPretty+'</pre>');
	    	}
	    });
	    e.preventDefault(); // avoid to execute the actual submit of the form.
	});
});
</script>
{% endblock %}


<form class="form-inline col-md-4" role="form" id="ldForm">
	{% if marker %}
		{% load filter_tags %}
		<input id="ldSearch" type="hidden" name="m1" value="{{ marker|doc_attr:"id" }}">
	{% else %}
		<div class="input-group">
			<input id="ldSearch" type="text" class="form-control" name="m1" value="" placeholder="rs2476601">  
		</div>
	{% endif %}
	<span class="input-group-btn">
		<button class="btn btn-default"><i class="fa fa-chevron-circle-right"></i></button>
	</span>

	<select name="build" class="form-control input-sm">
	  <option>GRCh38</option>
	  <option>GRCh37</option>
	</select>

	<select name="dataset" class="form-control input-sm">
	  <option>--EUR--</option>
	  <option>GBR</option>
	  <option>FIN</option>
	  <option>IBS</option>
	  <option>TSI</option>
	  <option>CEU</option>
	</select>

	<br>
	<input id="rsq" type="text" class="form-control" name="rsq" value="0.8">
	<label for="rsq">r<sup>2</sup></label>

	<br>
	<input id="dprime" type="text" class="form-control" name="dprime" value="0">
	<label for="dprime">D'</label>

	<br>
	<input id="window_size" type="text" class="form-control" name="window_size" value="1000000">
	<label for="window_size">window size</label>

	<br><div class="checkbox">
		<label><input type="checkbox" name="maf"> MAF</label>
	</div>
	
	<div class="checkbox">
		<label><input type="checkbox" name="pos"> Position</label>
	</div>
</form>

<div class="col-md-8" id="ld_result"></div>
{% endblock %}