{% extends "section.html" %}
{% block section %}
{% load filter_tags %}
<table class="table table-striped table-condensed">
		<thead><th>ID</th><th>Alleles</th><th>Location</th><th>Genome Build</th><th>Source</th></thead>
	{% if marker %}
		<td>{{ marker|doc_attr:"id" }}</td>
		<td>{{ marker|doc_attr:"ref" }}/{{ marker|doc_attr:"alt" }}</td>
		<td>
		{% with loc=marker|doc_attr:"seqid" %}
			chr{{ loc }}: {{ marker|doc_attr:"start" }}
		{% endwith %}
		</td>
		<td>{{ marker|doc_attr:"marker_build" }}</td>
		<td>{{ marker|doc_idx }}</td>
	{% endif %}
		
	{% for dbsnp_doc in old_dbsnp_docs %}
		<tr><td>{{ dbsnp_doc|doc_attr:"id" }}</td>
		<td>{{ dbsnp_doc|doc_attr:"ref" }}/{{ dbsnp_doc|doc_attr:"alt" }}</td>
		<td>
		{% with loc=dbsnp_doc|doc_attr:"seqid" %}
			chr{{ loc }}: {{ dbsnp_doc|doc_attr:"start" }}
		{% endwith %}
		</td>
		<td>{{ dbsnp_doc|doc_attr:"marker_build" }}</td>
		<td>{{ dbsnp_doc|doc_idx }}</td></tr>
	{% endfor %}
	

	{% for ic_marker in ic %}
		{% for build in ic_marker|doc_attr:"build_info" reversed %}
			<tr><td>{{ ic_marker|doc_attr:"name" }}</td>
			<td>{{ ic_marker|doc_attr:"allele_a" }}/{{ ic_marker|doc_attr:"allele_b" }}</td>
			<td>chr{{ build.seqid }}: {{ build.position }}</td><td>{{ build.build }}</td>
			<td>ImmunoChip</td>
			</tr>
		{% endfor %}
	{% endfor %}
</table>
{% endblock %}
	