{% extends "base.html" %}
{% load filter_tags %}
{% load pydgin_tags %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
{% with n=features|length %}

<section>
	<div class="container-fluid">
{% for f in features %}

	{% if forloop.counter == 1 or forloop.counter == 3 %}<div class="row">{% endif %}
		<div class="col-md-{% if n > 1 %}6{% else %}12{% endif %} page-header" style="margin-top:0px;">
			<div class="row">
				<div class="col-lg-3"><h2 style="margin-top:0px; margin-bottom:0px;">{{ f|doc_name }}</h2></div>
				<div class="col-lg-9">
				</div>
			</div>
		</div>
	{% if forloop.counter == 2 or forloop.counter == 4 %}</div>{% endif %}
{% endfor %}

{% endwith %}
	</div>
</section>
{% endblock %}