{% load filter_tags %}
<div class="panel panel-info">
	<div class="panel-heading"><h3 class="panel-title">{{ section_title|title }}
	{% if section_options.collapse != False %}
		<a role="button" data-toggle="collapse" href="#{{ section }}-{{ gene|doc_id }}" aria-expanded="false" aria-controls="mappingFilters">
		<i class="fa fa-caret-square-o-down"></i></a>
	{% endif %}
	</h3>
	</div>
	<div class="panel-body {% if section_options.collapse != False %}collapse{% endif %}" id="{{ section }}-{{ gene|doc_id }}" name="{{ section }}">
		{% block section %}{% endblock %}
	</div>
</div>
			