{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/responsive/2.0.0/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/buttons/1.1.0/css/buttons.dataTables.min.css">


<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.0.0/js/dataTables.responsive.min.js"></script>
<script src="//cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>

<!-- datatable exports -->
<script src="//cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.0/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.0/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.0/js/buttons.print.min.js"></script>

{% block staticfiles %}<!-- MORE STATIC FILES HERE -->{% endblock %}
{% block header_js %}{% endblock %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
	$('.panel-body.collapse').each(function(){
		if (localStorage.getItem($(this).attr('name')+window.location.pathname+'section')) {
			$(this).collapse('show'); // open sections
		}
	});
	$('.panel-body.collapse').on('shown.bs.collapse', function (e) {
		localStorage.setItem($(this).attr('name')+window.location.pathname+'section', 'open');
	});

	$('.panel-body.collapse').on('hidden.bs.collapse', function (e) {
		localStorage.removeItem($(this).attr('name')+window.location.pathname+'section');
	});
});
</script>
{% endblock %}

{% block content %}
{% block sections %}<!-- SECTION TEMPLATES -->{% endblock %}
{% endblock %}
