{% extends "feature.html" %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
{% load staticfiles %}
<link rel="stylesheet" href="{{ CDN.DATATABLES_BS_CSS }}">
<link rel="stylesheet" href="{{ CDN.DATATABLES_RESPONSIVE_CSS }}">
<link rel="stylesheet" href="{{ CDN.DATATABLES_BUTTONS_CSS }}">

<!-- IGV JS -->
<link rel="stylesheet" type="text/css" href="//igv.org/web/beta/igv-beta.css">


{% block staticfiles %}<!-- MORE STATIC FILES HERE -->{% endblock %}
{% endblock %}

{% block feature %}
{% block sections %}<!-- SECTION TEMPLATES -->{% endblock %}
{% endblock %}


{% block footer_js %}
{% load staticfiles %}
	<script src="{{ CDN.DATATABLES }}"></script>
	<script src="{{ CDN.DATATABLES_RESPONSIVE }}"></script>
	<script src="{{ CDN.DATATABLES_BS }}"></script>
	
	<!-- datatable exports -->
	<script src="{{ CDN.DATATABLES_BUTTONS }}"></script>
	<script src="{{ CDN.BUTTONS_FLASH }}"></script>
	<script src="{{ CDN.JSZIP }}"></script>
	<script src="{{ CDN.PDFFMAKE }}"></script>
	<script src="{{ CDN.VFS_FONTS }}"></script>
	<script src="{{ CDN.BUTTONS_HTML5 }}"></script>
	<script src="{{ CDN.BUTTONS_PRINT }}"></script>
	
	<!-- IGV JS -->
	<!-- <script type="text/javascript" src="//igv.org/web/beta/igv-beta.js"></script> -->
	<script type="text/javascript" src="{% static "js/igv-beta.js" %}"></script>

	<script language="javascript" type="text/javascript">
	$(document).ready(function() {
		var page_type = '_'+window.location.pathname.split("/")[1]+'_';
		$('.panel-body.collapse').each(function(){
			if (localStorage.getItem($(this).attr('name')+page_type+'section')) {
				$(this).collapse('show'); // open sections
			}
		});

		$('.panel-body.collapse').on('shown.bs.collapse', function (e) {
			localStorage.setItem($(this).attr('name')+page_type+'section', 'open');
		});
	
		$('.panel-body.collapse').on('hidden.bs.collapse', function (e) {
			localStorage.removeItem($(this).attr('name')+page_type+'section');
		});
	});
	</script>
{% endblock %}