{% extends "section.html" %}

{% block section %}
{% block header %}
<script language="javascript" type="text/javascript">
	$(document).ready(function(){
		search_engine.autocomplete('advSearch', 'advSearchForm');
	});
</script>
{% endblock %}

{% load search_engine_tags %}
<form class="form-inline form-left" role="search" id="advSearchForm" action="/search/">
	<select id="idx" name="idx" class="form-control">
	<option>ALL</option>
	{% search_keys as keys %}
	{% for idx in keys %}
		<option value="{{ idx }}">{{ idx }}</option>
	{% endfor %}
	</select>

	<div class="input-group">
		<input id="advSearch" type="text" class="form-control" name="query" value="">  
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit">
				<i class="fa fa-search"></i>
			</button>
		</span>
	</div>
</form>

<p>
<ul>
	<li>Operator <strong>'+'</strong> is used to designate that the query term must be present and
	<strong>'-'</strong> is used to mark that this term must not be present, any other terms are optional.</li>
	<li>Boolean operators <strong>AND</strong>, <strong>OR</strong> and <strong>NOT</strong>
	(also can be written as <strong>&&, || and !</strong>) are also supported.</li>
	<li>Wildcard searches can use <strong>?</strong> to signify a single character (PTP?22), and
	<strong>*</strong> to indicate zero or more characters.</li>
</ul>
</p>

<h4>Example searches</h4>
<ul>
	<li>ALL: <a href="?idx=ALL&query=%2Bjohn+%2Btodd+%2Bt1d">+john +todd +t1d</a></li>
	<li>ALL: <a href="?idx=ALL&query=%2BPTPN22+%2BIL*+%2Btodd">+PTPN22 +IL* +todd</a></li>
	<li>ALL: <a href='?idx=ALL&query=%2Btitle%3A%28IL2+OR+PTPN22%29+%2B"Nat.+Genet."'>+title:(IL2 OR PTPN22) +"Nat. Genet."</a>
	<li>ALL: <a href="?query=rs2476601&idx=ALL">rs2476601</a></li>
	<li>ALL: <a href='?idx=ALL&query=abstract%3A"development+of+type+1+diabetes+in+NOD+mice"'>abstract:"development of type 1 diabetes in NOD mice"</a></li>
	<li>GENE: <a href="?idx=GENE&query=phosphatase+-protein_coding">phosphatase -protein_coding</a></li>
	<li>GENE: <a href="?idx=GENE&query=dbxrefs.swissprot%3AQ9Y2R2">dbxrefs.swissprot:Q9Y2R2</a>
	<li>GENE: <a href='?idx=GENE&query=description%3A"protein+tyrosine+phosphatase"+-protein_coding'>description:"protein tyrosine phosphatase" -protein_coding</a></li>
	<li>MARKER: <a href="?idx=MARKER&query=rs2476601+rs2476602">rs2476601 rs2476602</a></li>
	<li>PUBLICATION: <a href='?idx=ALL&query=%2BOnengut-Gumuscu+%2B"Nat.+Genet."'>+Onengut-Gumuscu +"Nat. Genet."</a>
	<li>PUBLICATION: <a href='?idx=ALL&query=%2BOnengut-Gumuscu+-"Nat.+Genet."'>+Onengut-Gumuscu -"Nat. Genet."</a>
	<li>PUBLICATION: <a href="?idx=ALL&query=%2BIL2+%2Bdiabetes+%2BWicker">+IL2 +diabetes +Wicker</a></li>
	<li>PUBLICATION: <a href="?idx=PUBLICATION&query=%2B%28IL2+AND+PTPN22%29+%2Btodd">+(IL2 AND PTPN22) +todd</a></li>
	<li>PUBLICATION: <a href="?idx=PUBLICATION&query=%2Bbioinformatics+%2BWallace">+bioinformatics +Wallace</a></li>
</ul>
{% endblock %}
