<form class="form-inline navbar-form" role="search" id="searchForm" action="/search/">
	<div class="input-group">
		<input id="search" type="text" class="form-control" name="query" size="50%" placeholder="e.g. PTPN22, rs2476601" style="font-size:inherit" value="" spellcheck="false">
		<span class="input-group-btn">
			<button class="btn btn-primary" type="submit">
				<i class="fa fa-search"></i>
			</button>
		</span>
	</div>
	<input type="hidden" id="idx" name="idx" class="form-control" value="ALL">
</form>
