{% extends "sections.html" %}
{% block staticfiles %}
	{% load staticfiles %}
	<script src={% static "js/sections.js" %}></script>
	<script src={% static "gene/gene_page.js" %}></script>

	<link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.19.0.css">
  	<script src="//code.jquery.com/qunit/qunit-1.19.0.js"></script>
{% endblock %}
{% block sections %}

<script>
	QUnit.test("gene studies publications genesets interactions", function( assert ) {
		assert.equal($('#table-pubs-ENSG00000134242 tbody').children().length, 0);
		sections.get_publication_details("table-pubs-ENSG00000134242", ["25814225"]);
		gene_page.get_genesets_details("ENSG00000134242");
		gene_page.get_interaction_details("ENSG00000134242");
		gene_page.get_study_details("ENSG00000134242");
	    stop(); // pause the test 
	    setTimeout(function() {
	       assert.equal($('#table-pubs-ENSG00000134242').dataTable().fnGetData().length, 1);
	       assert.equal($('#table-genesets-ENSG00000134242').dataTable().fnGetData().length, 15);
	       assert.equal($('#table-interactor-ENSG00000134242').dataTable().fnGetData().length, 18);
	       assert.equal($('#table-study-ENSG00000134242').dataTable().fnGetData().length, 16);
	       // restart the test
	       start();
	    }, 1500);
	});
</script>

<div id="qunit"></div>

<div class="hidden">
<table id="table-pubs-ENSG00000134242" class="display responsive table table-striped table-condensed">
	<thead>
		<tr>
			<th >PMID</th>
			<th class="visible-md visible-lg">Title</th>
			<th class="visible-md visible-lg">First Author</th>
			<th>Journal</th>
			<th>Disease(s)</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<table id="table-genesets-ENSG00000134242" class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>Genes</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<table id="table-interactor-ENSG00000134242" class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>Interactor</th>
			<th>PMID</th>
			<th>Source</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<table id="table-study-ENSG00000134242">
	<thead>
		<tr>
			<th>Study</th>
			<th>Publication</th>
			<th>Disease</th>
			<th>Region</th>
			<th>Marker</th>
			<th>Alleles</th>
			<th class="visible-md visible-lg" nowrap>P-value</th>
			<th class="visible-md visible-lg">OR</th>
			<th class="visible-md visible-lg">MAF</th>
			<th class="visible-md visible-lg">Gene(s)</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

</div>
{% endblock %}
