{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/responsive/2.0.0/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/buttons/1.1.0/css/buttons.dataTables.min.css">


<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.0.0/js/dataTables.responsive.min.js"></script>
<script src="//cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>

<!-- datatable exports -->
<script src="//cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.0/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.0/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.0/js/buttons.print.min.js"></script>


{% load staticfiles %}
<script src={% static "js/sections.js" %}></script>
<script src={% static "gene/gene_page.js" %}></script>

<script language="javascript" type="text/javascript">
$(document).ready(function() {
	$('.panel-body.collapse').each(function(){
		if (localStorage.getItem($(this).attr('name')+'Section')) {
			$(this).collapse('show'); // open sections
		}
	});
	$('.panel-body.collapse').on('shown.bs.collapse', function (e) {
		localStorage.setItem($(this).attr('name')+'Section', 'open');
	});

	$('.panel-body.collapse').on('hidden.bs.collapse', function (e) {
		localStorage.removeItem($(this).attr('name')+'Section');
	});
});
</script>
{% endblock %}

{% block content %}
{% load filter_tags %}{% load disease_tags %}{% load pydgin_tags %}
{% with ngenes=genes|length %}

{% for gene in genes %}
	{% if forloop.counter == 1 or forloop.counter == 3 %}<div class="row">{% endif %}
		<div class="col-md-{% if ngenes > 1 %}6{% else %}12{% endif %}">
			{% for section_title in sections %}
				{% with section=section_title.split|join:"_" %}
				<div class="panel panel-info">
					<div class="panel-heading"><h3 class="panel-title">{{ section_title|title }}
					<a role="button" data-toggle="collapse" href="#{{ section }}-{{ gene|doc_id }}" aria-expanded="false" aria-controls="mappingFilters">
					<i class="fa fa-caret-square-o-down"></i>
					</a></h3></div>
					<div class="panel-body collapse" id="{{ section }}-{{ gene|doc_id }}" name="{{ section }}">
						   {% if section == 'overview' %}
						      {% include 'gene/overview_section.html' %}
						   {% elif section == 'external_links' %}
						      {% include 'gene/external_links_section.html' %}
						   {% elif section == 'publication' %}
						      {% include 'sections/pub.html' with feature=gene %}
						   {% elif section == 'study' %}
						      {% include 'gene/studies_section.html' with ens_id=gene|doc_id %}
						   {% elif section == 'interactions' %}
						      {% include 'gene/interactions_section.html' with ens_id=gene|doc_id %}
						   {% elif section == 'genesets' %}
						      {% include 'gene/genesets_section.html' with ens_id=gene|doc_id %}
						   {% elif section == 'phenotype_links' %}
						      {% with dbxrefs=gene|doc_attr:"dbxrefs" %}
						        {% include 'gene/phenotype_section.html' with mgi=dbxrefs.orthologs.mmusculus.MGI %}
						      {% endwith %}
						   {% endif %}
			   		</div>
			   	</div>
			   {% endwith %}
			{% endfor %}
		</div>
	{% if forloop.counter == 2 or forloop.counter == 4 %}</div>{% endif %}
{% endfor %}
{% endwith %}
{% endblock %}
