{% extends "sections.html" %}

{% block staticfiles %}
	{% load staticfiles %}
	<script src={% static "js/sections.js" %}></script>
	<script src={% static "js/criteria.js" %}></script>
	<script src={% static "gene/gene_page.js" %}></script>
{% endblock %}

{% block sections %}
{% load filter_tags %}
{% load criteria_tags %}
{% for section_title, section_options in sections.items %}
{% with section=section_title.split|join:"_" %}

	{% if section_title == 'publications' %}
		{% include 'sections/pub.html' with feature=f %}
	{% elif section_title == 'jbrowse' %}
		{% include 'sections/jbrowse.html' with f=f %}
	{% elif section_title == 'criteria' %}
		
		{% show_feature_criteria_details feature_id=f|doc_id feature_type=appname feature_doc=f %}
		
	{% elif section_title == 'study' %}
		{% include 'study/studies_section.html' with ens_id=f|doc_id %}
	{% elif section_title == 'tcell profile' %}
	
		{% load permissions_tag %}
		{% if user|is_in_group:"DIL" %}
			{% include 'gene/tcell_section.html' with feature=f %}
		{% endif %}

	{% else %}
		{% with "gene/"|add:section|add:"_section.html" as template %}
			{% include template  with gene=f %}
		{% endwith %}
	{% endif %}
{% endwith %}
{% endfor %}

{% endblock %}
