{% block header %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
	gene_page.get_study_details("{{ ens_id }}");
} );
</script>
{% endblock %}

<table id="table-study-{{ ens_id }}" class="display responsive table table-striped table-condensed">
	<thead>
		<tr>
			<th>Study</th>
			<th>Publication</th>
			<th>Disease</th>
			<th>Region</th>
			<th>Marker</th>
			<th>Alleles</th>
			<th class="visible-md visible-lg" nowrap>P-value</th>
			<th class="visible-md visible-lg">OR</th>
			<th class="visible-md visible-lg">MAF</th>
			<th class="visible-md visible-lg">Gene(s)</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
