# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'pcw(yn@$%+#!9tb5cs(cwhw62my4o46+%_hs&af(m(*l0!l#s3'

# Memcached caching
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '127.0.0.1:11211',
    }
}

# Remember to create the database first
# sudo -u postgres psql -c "CREATE database pydgin_authdb;"
# sudo -u postgres psql -c "GRANT ALL PRIVILEGES ON DATABASE "pydgin_authdb" TO webuser;"

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'pydgin_authdb',
        'USER': 'webuser',
        'PASSWORD': 'webuser',
        'HOST': '127.0.0.1',
        'PORT': '5432',
        'TEST': {
                'NAME': 'auto_tests',
            },
        },

}

# remember this is the key of the auth_db DATABASES settings
AUTH_DB = 'default'

# DATABASE_ROUTERS = ['pydgin_auth.routers.AuthRouter', 'pydgin.routers.DefaultRouter']

# elastic search engine
ELASTIC = {
    'default': {
        'ELASTIC_URL': ['http://127.0.0.1:9200/'],
        'IDX': {
            'GENE': {
                'name': 'genes_hg38_v0.0.2',
                'idx_type': {
                    'GENE': {'type': 'gene', 'search': True,  'auth_public': True},
                    'PATHWAY': {'type': 'pathway_genesets', 'search': True,  'auth_public': True},
                    'INTERACTIONS': {'type': 'interactions',  'auth_public': True}
                },
                'label': 'gene related indices',
                'suggester': True,
                'auth_public': True
            },
            'PUBLICATION': {
                'name': 'publications_v0.0.5',
                'idx_type': {
                    'PUBLICATION': {'type': 'publication', 'search': True,  'auth_public': True}
                },
                'suggester': True,
                'auth_public': True
            },
            'MARKER': {
                'name': 'dbsnp144',
                'idx_type': {
                    'MARKER': {'type': 'marker', 'description': 'dbsnp', 'search': True,  'auth_public': True},
                    'HISTORY': {'type': 'rs_merge', 'description': 'snp merge history', 'search': True,  'auth_public': True},
                    'IC': {'type': 'immunochip', 'search': True,  'auth_public': True}
                },
                'suggester': True,
                'auth_public': True
            },
            'DISEASE': {
                'name': 'disease',
                'idx_type': {
                    'DISEASE': {'type': 'disease', 'search': True,  'auth_public': True}
                },
                'suggester': True,
                'auth_public': True
            },
            'REGIONS': {
                'name': 'regions_v0.0.3',
                'idx_type': {
                    'STUDIES': {'type': 'hits',  'auth_public': True}
                },
		        'auth_public': True
            }
        },
        'TEST': 'auto_tests',
        'REPOSITORY': 'my_backup',
        'TEST_REPO_DIR': '/tmp/test_snapshot/',
    }
}

# selenium browser testing host and headless mode
SELENIUM = {
    'HEADLESS': True,
    'HOST': 'localhost:8000',
    'CHROME_DRIVER': '/gdxbase/www/drivers/chromedriver',
    'OPERA_DRIVER': '/gdxbase/www/drivers/operadriver64',
    'OPERA_BIN': '/usr/bin/opera',
}

# SMTP
DEFAULT_FROM_EMAIL = 'immunobase-feedback@cimr.cam.ac.uk'
SERVER_EMAIL = 'immunobase-feedback@cimr.cam.ac.uk'
EMAIL_HOST = 'ppsw.cam.ac.uk'
EMAIL_HOST_USER = ''
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_PORT = 25
EMAIL_USE_TLS = True
