{% extends "section.html" %}
{% block section_js %}

{% load staticfiles %}
<script src={% static "study/study.js" %}></script>

<script language="javascript" type="text/javascript">
$(document).ready(function() {
	study.get_study_details("{{ ens_id }}", "{{ marker }}", "{{ region }}");
} );
</script>
{% endblock %}
{% block section %}
<!-- STUDY SECTION -->
{% load pydgin_tags %}
<table id="table-study-{{ ens_id }}{{ marker }}{{ region|replace_dot }}" class="display responsive table table-striped table-condensed">
	<thead>
		<tr>
			<th>Study</th>
			<th>Publication</th>
			<th>Disease</th>
			<th>Region</th>
			<th>Marker</th>
			<th>Alleles</th>
			<th class="visible-md visible-lg" nowrap>P-value</th>
			<th class="visible-md visible-lg">OR</th>
			<th class="visible-md visible-lg">MAF</th>
			<th class="visible-md visible-lg">Gene(s)</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
{% endblock %}
