{% load disease_tags %}
{% load filter_tags %}
<div class="disease-bar">
	<!-- primary diseases -->
	{% for disease in dis_main %}{% show_disease disease "" text selected href %}{% endfor %}
	
	{% if dis_other|length > 0 %}
	<!-- other diseases -->
	{% if expand_od == True %}
		{% for disease in dis_other %}{% show_disease disease "" text selected href %}{% endfor %}
	{% else %} 
	<div class="btn-group" role="group" id="diseaseDropDown">
		<button type="button" class="btn dropdown-toggle btn-default btn-disease" data-toggle="dropdown" aria-expanded="false"><strong>OD</strong> <span class="caret"></span></button>
		<ul class="dropdown-menu" role="menu" id="diseaseDropDownMenus">
		{% for disease in dis_other %}
			<li><a href="{{ href }}{{ disease|doc_attr:"code"|upper }}/" data-toggle="tooltip" title="{{ disease|doc_attr:"name" }}"><strong>{{ disease|doc_attr:"code"|upper }}</strong></a></li>
		{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% endif %}
</div>