{% extends "feature.html" %}
{% load filter_tags %}
{% block feature %}
<div class="container">
	{{ f|doc_attr:"description" }}

	<p>Details on the regions shown in this table are available from <a href="/region/table/{{ f|doc_attr:"code"|upper }}/">here</a>.</p>
	{% for region in f|doc_attr:"regions" %}
		{% if forloop.first %}
			<table class="table table-responsive table-condensed">
			<thead>
			<th>Region</th>
			<th>Genes</th>
			<th>Markers</th>
			</thead>
			<tbody>
		{% endif %}
		<tr>
		<td>{{ region.region_name }}</td> 
		<td>{% for ens_id, g in region.cand_genes.items %}{{ g|doc_attr:'symbol' }} {% endfor %}</td>
		<td>{% for m in region.markers %}{{ m }} {% endfor %}</td>
		</tr>
		{% if forloop.last %}
			</tbody></table>
		{% endif %}
	</div>
	{% endfor %}
	
</div>
{% endblock %}